src/wsdl/bl-data.herokuapp.com/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://classes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://classes/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://classes/" schemaLocation="http://bl-data.herokuapp.com:80/DataService?xsd=1"/>
</xsd:schema>
</types>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="updatePassword">
<part name="parameters" element="tns:updatePassword"/>
</message>
<message name="updatePasswordResponse">
<part name="parameters" element="tns:updatePasswordResponse"/>
</message>
<message name="updateProductImage">
<part name="parameters" element="tns:updateProductImage"/>
</message>
<message name="updateProductImageResponse">
<part name="parameters" element="tns:updateProductImageResponse"/>
</message>
<message name="getOne">
<part name="parameters" element="tns:getOne"/>
</message>
<message name="getOneResponse">
<part name="parameters" element="tns:getOneResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getAllVendors">
<part name="parameters" element="tns:getAllVendors"/>
</message>
<message name="getAllVendorsResponse">
<part name="parameters" element="tns:getAllVendorsResponse"/>
</message>
<message name="getAllCategory">
<part name="parameters" element="tns:getAllCategory"/>
</message>
<message name="getAllCategoryResponse">
<part name="parameters" element="tns:getAllCategoryResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="getAllStocks">
<part name="parameters" element="tns:getAllStocks"/>
</message>
<message name="getAllStocksResponse">
<part name="parameters" element="tns:getAllStocksResponse"/>
</message>
<message name="getAllSales">
<part name="parameters" element="tns:getAllSales"/>
</message>
<message name="getAllSalesResponse">
<part name="parameters" element="tns:getAllSalesResponse"/>
</message>
<message name="getAllOrders">
<part name="parameters" element="tns:getAllOrders"/>
</message>
<message name="getAllOrdersResponse">
<part name="parameters" element="tns:getAllOrdersResponse"/>
</message>
<message name="getAllItems">
<part name="parameters" element="tns:getAllItems"/>
</message>
<message name="getAllItemsResponse">
<part name="parameters" element="tns:getAllItemsResponse"/>
</message>
<message name="getLastID">
<part name="parameters" element="tns:getLastID"/>
</message>
<message name="getLastIDResponse">
<part name="parameters" element="tns:getLastIDResponse"/>
</message>
<message name="addStock">
<part name="parameters" element="tns:addStock"/>
</message>
<message name="addStockResponse">
<part name="parameters" element="tns:addStockResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="addVendor">
<part name="parameters" element="tns:addVendor"/>
</message>
<message name="addVendorResponse">
<part name="parameters" element="tns:addVendorResponse"/>
</message>
<message name="addSale">
<part name="parameters" element="tns:addSale"/>
</message>
<message name="addSaleResponse">
<part name="parameters" element="tns:addSaleResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<portType name="DataService">
<operation name="addOrder">
<input wsam:Action="http://classes/DataService/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://classes/DataService/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="updatePassword">
<input wsam:Action="http://classes/DataService/updatePasswordRequest" message="tns:updatePassword"/>
<output wsam:Action="http://classes/DataService/updatePasswordResponse" message="tns:updatePasswordResponse"/>
</operation>
<operation name="updateProductImage">
<input wsam:Action="http://classes/DataService/updateProductImageRequest" message="tns:updateProductImage"/>
<output wsam:Action="http://classes/DataService/updateProductImageResponse" message="tns:updateProductImageResponse"/>
</operation>
<operation name="getOne">
<input wsam:Action="http://classes/DataService/getOneRequest" message="tns:getOne"/>
<output wsam:Action="http://classes/DataService/getOneResponse" message="tns:getOneResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://classes/DataService/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://classes/DataService/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllVendors">
<input wsam:Action="http://classes/DataService/getAllVendorsRequest" message="tns:getAllVendors"/>
<output wsam:Action="http://classes/DataService/getAllVendorsResponse" message="tns:getAllVendorsResponse"/>
</operation>
<operation name="getAllCategory">
<input wsam:Action="http://classes/DataService/getAllCategoryRequest" message="tns:getAllCategory"/>
<output wsam:Action="http://classes/DataService/getAllCategoryResponse" message="tns:getAllCategoryResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://classes/DataService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://classes/DataService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="getAllStocks">
<input wsam:Action="http://classes/DataService/getAllStocksRequest" message="tns:getAllStocks"/>
<output wsam:Action="http://classes/DataService/getAllStocksResponse" message="tns:getAllStocksResponse"/>
</operation>
<operation name="getAllSales">
<input wsam:Action="http://classes/DataService/getAllSalesRequest" message="tns:getAllSales"/>
<output wsam:Action="http://classes/DataService/getAllSalesResponse" message="tns:getAllSalesResponse"/>
</operation>
<operation name="getAllOrders">
<input wsam:Action="http://classes/DataService/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://classes/DataService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="getAllItems">
<input wsam:Action="http://classes/DataService/getAllItemsRequest" message="tns:getAllItems"/>
<output wsam:Action="http://classes/DataService/getAllItemsResponse" message="tns:getAllItemsResponse"/>
</operation>
<operation name="getLastID">
<input wsam:Action="http://classes/DataService/getLastIDRequest" message="tns:getLastID"/>
<output wsam:Action="http://classes/DataService/getLastIDResponse" message="tns:getLastIDResponse"/>
</operation>
<operation name="addStock">
<input wsam:Action="http://classes/DataService/addStockRequest" message="tns:addStock"/>
<output wsam:Action="http://classes/DataService/addStockResponse" message="tns:addStockResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://classes/DataService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://classes/DataService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="addCategory">
<input wsam:Action="http://classes/DataService/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://classes/DataService/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="addVendor">
<input wsam:Action="http://classes/DataService/addVendorRequest" message="tns:addVendor"/>
<output wsam:Action="http://classes/DataService/addVendorResponse" message="tns:addVendorResponse"/>
</operation>
<operation name="addSale">
<input wsam:Action="http://classes/DataService/addSaleRequest" message="tns:addSale"/>
<output wsam:Action="http://classes/DataService/addSaleResponse" message="tns:addSaleResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://classes/DataService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://classes/DataService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://classes/DataService/loginRequest" message="tns:login"/>
<output wsam:Action="http://classes/DataService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://classes/DataService/updateRequest" message="tns:update"/>
<output wsam:Action="http://classes/DataService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://classes/DataService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://classes/DataService/deleteResponse" message="tns:deleteResponse"/>
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProductImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllVendors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLastID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVendor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://bl-data.herokuapp.com:80/DataService"/>
</port>
</service>
</definitions>